{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ideas.css')}}">{% endblock stylesheet %}
{% set Ideas = "active" %}
{% extends "layout.html" %}
{% block title %} Ideas {% endblock title %}

{% block content %}

    <center>
        <div style="
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-family: monospace;
        text-shadow:0 1px;
        background-color: whitesmoke;
        box-shadow: 0 0 5px 0px grey;
        position: relative;
        margin-bottom: 5px;">

            <img src="{{url_for('static',filename='img/ideas.png')}}" alt="apps.png" style="max-height:50px; width:auto; margin:5px 0px;">
            
        </div>
    </center>

    <!--start donate-->
    <div class="donate" style=" 
    background-color:ghostwhite;
    display: flex; 
    flex-wrap:wrap; 
    width:100%; 
    margin:auto;
    box-shadow: 0 0 5px 0px grey;
    padding: 5px 10px;
    position: sticky;
    top: 5px;
    margin-bottom: 5px;">

        <!--start new_donate_data-->
        {% for abbr, title, content, link in donate_data %}
            <table style="min-width: fit-content; flex-grow: 1;">
                <tr style="font-size:x-small">
                    <td style="background-color:floralwhite;">
                        <a href="{{link}}" style="color:red; text-decoration:none; font-style:none;">
                            <abbr title="{{title}}" style="cursor:pointer">{{abbr}}</abbr>
                        </a>
                        <span style="color: initial;">{{content}}</span>
                    </td>
                </tr>
            </table>
        {% endfor %}
        <!--end new_donate_data-->

    </div><!--end donate-->

    <div class="body_container" style="display:flex; flex-wrap:wrap;margin: 0 10px; height:calc(100% - 160px); justify-content: center;">

        <div style="flex-grow:2;min-width:300px;">
            {% for date, title, content, link, pic in ideas_data %}
            <div style="display: flex; flex-wrap:wrap-reverse; margin-bottom: 10px; justify-content: center;">
                
                <div style="display:flex; align-items: center;">
                    <a href="{{link}}">
                        <img id="idea_pic" src="{{pic}}" style="
                        max-width: 250; 
                        height: auto;
                        box-sizing:border-box;
                        box-shadow: 0 0 5px 1px black;
                        margin: 0 5px;
                        object-fit:contain;
                        border-radius:5px;">
                    </a>
                </div>
                <div style="flex-grow: 2; min-width: 300px; margin: 5px; box-shadow: 0 0 5px 1px black; border-radius:5px; padding: 5px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <center><strong style="border-radius:2px; box-shadow: 0 0 5px 1px black; padding: 0 10px; background-color:azure;">
                                    {{date}}: {{title}}
                                </strong></center>
                            </td>
                        </tr>
                        <tr><td style="max-width: 1px; padding: 10px">{{content}}</td></tr>
                    </table>

                </div>

            </div>
            {% endfor %}

        </div>

        <div style="flex-grow:1; min-width: 300px;margin-left:5px; display: flex; flex-direction: column; max-width: 361px; box-shadow:0 0 5x 1px black; background-color:aliceblue; box-shadow: 0 0 5px 1px black; border-radius:5px; padding-top: 10px; margin-bottom: 20px;">
            <div style="height:fit-content;"><center><strong style="box-shadow: 0 0 5px 1px; padding: 0 10px; border-radius:2px; background-color:azure;">Comments:</strong></center></div>
            
            <div style="flex-grow:1; min-height:200px; max-height:320px ;padding: 10px 10px 0 10px;">
                <div id="msg_out" name="msg_out" style="background-color: white; overflow-y:auto; height: 100%; border-radius:5px 10px 0 0; padding:10px;max-width:inherit; overflow-wrap: break-word; border: 1px solid black;">
                    {% for inx, comment, date, sec in msg_out %}
                        <span style="font-size: small;">{{comment}}</span><br>
                        <span style="font-size: xx-small;">{{date}}</span><br>
                    {% endfor %}
                </div>
            
            </div>

            <form action="" method="POST">
            <div style="padding: 0 9px;">
                <div id="outersendbox" style="display: flex; align-items:center; border-radius: 0 0 10px 10px; box-sizing: border-box; border: 1px solid black;">
                    <!-- hidden checkbox hddn_focus -->
                    <input id="hddn_focus" type="checkbox" style="display:none;">
                    <textarea name="msg_in" style="height: 35px; width:100%; border: transparent; background-color: white; outline:none; resize:none; border-radius: 0 0 0 10px;" onfocus="focus_send_func()" onblur="focus_send_func()"></textarea>
                    <img src="{{url_for('static',filename='img/send.png')}}" alt="" style="max-height:35px; width:auto; background-color: white; cursor: pointer; border-radius: 0 0 10px 0;" onclick="send_msg_func()">
                    <!-- hidden submit -->
                    <input id="submit" type="submit" style="display: none;">
                </div>
            </div>
            </form>
        </div>

    </div>
    
</div>

<script type="text/javascript" language="javascript">

function focus_send_func(){
    var hddn_focus = document.getElementById("hddn_focus")
    hddn_focus.click()
    if(hddn_focus.checked == true){
        document.getElementById("outersendbox").style.boxShadow = " 0 0 5px 0 black"}
    else{document.getElementById("outersendbox").style.boxShadow = "initial"}  
};

function send_msg_func(){
    document.getElementById("submit").click();
};

</script>

{% endblock content %}